<div class="mt-1 ms-2 me-2">
    <div class="left">
        <p class="left-content p-font-joke">０票</p>
        <p class="left-content p-font-joke">２票</p>
        <p class="left-content p-font-joke">３票</p>
        <p class="left-content p-font-joke">４票</p>
    </div>
</div>
<% for (let i=0; i < shuffleProduct.length; i ++) { if(i % 10===0 && i !==0){%>
    <div class="bg-light pt-1 pb-1">
        <p>　</p>
    </div>
    <% } %>
        <div class="mt-1 ms-2 me-2 mb-1">
            <div class="left">
                <div class="left-content">
                    <input type="radio" value="0" name="votepoint<%=[i]%>" id="no" checked>
                </div>
                <div class="left-content">
                    <input type="radio" value="2" name="votepoint<%=[i]%>" id="low">
                </div>
                <div class="left-content">
                    <input type="radio" value="3" name="votepoint<%=[i]%>" id="middle">
                </div>
                <div class="left-content">
                    <input type="radio" value="4" name="votepoint<%=[i]%>" id="high">
                </div>
                <div class="left-content-text ms-2">
                    <p class="p-font-joke">
                        <%= shuffleProduct[i].joke %>
                    </p>
                </div>
            </div>
        </div>
        <% } %>

            <div class="mt-2 mb-2 pt-2 pb-1 text-center bg-dark text-light">
                <p>名前を入れて投票！</p>
            </div>
            <div class="mb-2 ps-2 pe-2 col-8">
                <label class="ms-2" for="username">名前：</label>
                <input class="form-control" type="text" name="username" id="username" placeholder="名前を入力してください"
                    required>
                <div class="invalid-feedback">
                    <p>名前が入力されていません</p>
                </div>
            </div>
            <div class="mt-1 text-center">
                <button class="join-link m-auto">投票する</button>
            </div>

            </form>
            </div>
            <div class="card-body">

                <p class="p-font"><b>投票していただいた方</b></p>
                <p class="card-text p-font">
                    <% const pollusers=polledProducts[0].votedpoints; for(let polluser of pollusers) { %>
                        <%= polluser.voteuser %> /
                            <% } %>
                </p>
                <div class="text-center">
                    <%= polledProducts[0].votedpoints.length%>人
                </div>
                <div class="mt-3 mb-3 text-center">
                    <a class="join-link m-auto" href="/">ホームに戻る</a>
                </div>
            </div>
            </div>
            <div class="card m-auto mt-4 mb-5 bg-light shadow bg-body rounded" style="width: 80%;">
                <div class="mt-3">
                    <div class="left">
                        <p class="col-2 col-sm-1 text-center p-font">順位</p>
                        <p class="col-2 col-sm-1 text-center p-font">得票数</p>
                        <p class="col-8 col-sm-10 text-center p-font">名前</p>
                    </div>
                </div>
                <% polledProducts.sort(function(a,b) { if(a.point> b.point) {
                    return -1;
                    } else if (a.point < b.point) { return 1; } else { return 0; } }); let i=1; for (let polledProduct
                        of polledProducts) { %>
                        <div class="rank">
                            <div class="mt-3">
                                <div class="left">
                                    <p class="col-2 col-sm-1 text-center p-font">
                                        <%= i%>位
                                    </p>
                                    <p class="col-2 col-sm-1 text-center p-font">
                                        <%= polledProduct.point%>
                                    </p>
                                    <p class="col-8 col-sm-10 text-center p-font">
                                        <%= polledProduct.username%>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <% i +=1; }%>
            </div>