<a class="join-link m-auto" href="/oogiri/place/a/<%= themes[0]._id %>" ><span data-text="参加する">参加する</span></a>
<a class="join-link m-auto" href="/oogiri/place/b/<%= titles[0]._id %>"><span data-text="参加する">参加する</span></a>

<a class="vote-link m-auto" href="/oogiri/vote/a/<%= themes[0]._id %>">投票する</a>
<a class="vote-link m-auto" href="/oogiri/vote/b/<%= titles[0]._id %>">投票する</a>
<a class="vote-link m-auto" href="/oogiri/result/a/<%= themes[0]._id %>">結果</a>
<a class="vote-link m-auto" href="/oogiri/result/b/<%= titles[0]._id %>">結果</a>

<li class="nav-item">
    <a class="nav-link" href="/oogiri/result/a/:id">結果A</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/oogiri/result/b/:id">結果B</a>
</li>